# Lab 07: Distance Metrics (+2 Bonus Points)

This lab is presented with some revisions from [Dennis Sun at Cal Poly](https://web.calpoly.edu/~dsun09/index.html) and his [Data301 Course](http://users.csc.calpoly.edu/~dsun09/data301/lectures.html)

**When you have filled out all the questions, submit via [Tulane Canvas](https://tulane.instructure.com/)**

The previous labs we discussed ways to measure relationships between variables, or the _columns_ of a `DataFrame`. This chapter is about how to measure relationships between observations, or the _rows_ of a `DataFrame`. How do we quantify how "similar" two observations are?

## Part 1: Distances between Quantitative Variables

We will use the Ames housing data set, but to keep things simple, we will work with just three quantitative variables from that data set: the number of bedrooms, the number of bathrooms, and the living area (in square feet).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive/cmps3160
# !git pull
%cd _labs/Lab07

import numpy as np
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/cmps3160
/content/drive/My Drive/cmps3160/_labs/Lab07

In [ ]:
housing_df = pd.read_csv("../data/ames.tsv", sep="\t")

# extract 3 quantitative variables
housing_df_quant = housing_df[["Bedroom AbvGr", "Gr Liv Area"]].copy()
housing_df_quant["Bathrooms"] = (
    housing_df["Full Bath"] +
    0.5 * housing_df["Half Bath"]
)
housing_df_quant

      Bedroom AbvGr  Gr Liv Area  Bathrooms
0                 3         1656        1.0
1                 2          896        1.0
2                 3         1329        1.5
3                 3         2110        2.5
4                 3         1629        2.5
...             ...          ...        ...
2925              3         1003        1.0
2926              2          902        1.0
2927              3          970        1.0
2928              2         1389        1.0
2929              3         2000        2.5

[2930 rows x 3 columns]

Shown below is a (three-dimensional) scatterplot of these variables. Consider the two observations connected by a red line. (The label next to each point is its index in the `DataFrame`.) To measure how similar they are, we can calculate the distance between the two points.

<img src="https://github.com/nmattei/cmps3160/blob/master/_labs/images/distance.png?raw=1">

Calculating the distance between two points is not as straightforward as it might seem because there is more than one way to define distance. The one most familiar to you is probably **Euclidan distance**, which is the straight-line distance ("as the crow flies") between the two points. The formula for calculating this distance is a generalization of the Pythagorean theorem:

$$ d({\bf x}, {\bf x'}) = \sqrt{\sum_{j=1}^D (x_j - x'_j)^2} $$

Which we've seen before as the sum of squared distances!

In [ ]:
x = housing_df_quant.loc[2927]
x1 = housing_df_quant.loc[2928]
x
x - x1

Bedroom AbvGr      1.0
Gr Liv Area     -419.0
Bathrooms          0.0
dtype: float64

In [ ]:
(x - x1) ** 2

Bedroom AbvGr         1.0
Gr Liv Area      175561.0
Bathrooms             0.0
dtype: float64

In [ ]:
np.sqrt(((x - x1) ** 2).sum())

419.0011933157231

The beauty of this definition is that it generalizes to more than three dimensions. Even though it is difficult to visualize points in 100-dimensional space, we can calculate distances between them in exactly the same way.

However, Euclidean distance is not the only way to measure how far apart two points are. There is also [**Manhattan distance**](https://en.wikipedia.org/wiki/Taxicab_geometry) (also called _taxicab distance_ ), which measures the distance a taxicab in Manhattan would have to drive to travel from A to B. Taxicabs are not able to travel in a straight line (i.e., the green path below, the Euclidian distance) because they have to follow the street grid. But there are multiple paths along the street grid that all have exactly the same length (i.e., the red, yellow, and blue paths below); the Manhattan distance is the length of any one of these shortest paths.

<img src="https://github.com/nmattei/cmps3160/blob/master/_labs/images/dist.png?raw=1">

The formula for Manhattan distance is actually quite similar to the formula for Euclidean distance. Instead of squaring the differences and taking the square root at the end (as in Euclidean distance), we simply take absolute values:
$$ d({\bf x}, {\bf x'}) = \sum_{j=1}^D |x_j - x'_j|. $$

The following code calculates Manhattan distance:

In [ ]:
((x - x1).abs()).sum()

420.0

### Comparison of Euclidean and Manhattan distance

The Euclidean distance was essentially just the largest difference. This is because Euclidean distance first _squares_ the differences. The squaring operation has a "rich get richer" effect; larger values get magnified by more than smaller values. As a result, the largest differences tend to dominate the Euclidean distance.

On the other hand, Manhattan distance treats all differences equally. So Manhattan distance is preferred if you are concerned that an outlier in one variable might dominate the distance metric.

### The Importance of Scaling

Here's a quiz. There are two pairs of observations in the figure below, one connected by a red line, the other connected by an orange line. Which pair of observations is more similar (assuming we use Euclidean distance)?

![](https://github.com/nmattei/cmps3160/blob/master/_labs/images/closer.png?raw=1)

Let's actually calculate these two distances.

In [ ]:
# Distance between two points connected by red line
x = housing_df_quant.loc[2927]
x1 = housing_df_quant.loc[2928]

np.sqrt(((x - x1) ** 2).sum())

419.0011933157231

In [ ]:
# Distance between two points connected by orange line
x = housing_df_quant.loc[2498]
x1 = housing_df_quant.loc[290]

np.sqrt(((x - x1) ** 2).sum())

5.0990195135927845

Surprised by the answer? The scatterplot is deceiving because it automatically scales the variables to make the points fit on the same plot. In reality, the variables are on very different scales. The number of bedrooms and bathrooms range from 0 to 6, while living area is in the thousands. When variables are on such different scales, the variable with the largest variability will dominate the distance metric.

The plot below shows the same data, but drawn to scale. You can see that differences in the number of bedrooms and the number of bathrooms hardly matter at all; only the variability in the living area matters.

![](https://github.com/nmattei/cmps3160/blob/master/_labs/images/closer_rescaled.png?raw=1)

To obtain distances that agree more with our intuition---and that do not give too much weight to any one variable---we transform the variables to be on the same scale. There are a few ways to **scale** a variable:

- **standardizing**: subtract each variable by its mean, then divide by its standard deviation, (also called z-standardization)
$$ x_i \leftarrow \frac{x_i - \text{mean}[X]}{\text{SD}[X]} $$
- **normalizing**: scale each variable to have length (or "norm") 1,
$$ x_i \leftarrow \frac{x_i}{\sqrt{\sum_{i=1}^n x_i^2}} $$
- **min/max scaling**: scale each variable so that all values are between 0 and 1,
$$x_i \leftarrow \frac{x_i - \min[X]}{\max[X] - \min[X]}.$$

The figure below illustrates what each of these scaling methods do to a synthetic data set with two variables. All three methods scale the variables in similar (but slightly different) ways, resulting in figure-eights with different aspect ratios.  Standardizing also moves the data to be centered around the origin, while min-max scaling moves the data to be in a box whose corners are $(0, 0)$ and $(1, 1)$.

![](https://github.com/nmattei/cmps3160/blob/master/_labs/images/scaling.png?raw=1)

Let's standardize the Ames housing data, and see how it affects the distance metric.

In [ ]:
housing_df_std = (
    (housing_df_quant - housing_df_quant.mean()) /
    housing_df_quant.std()
)
housing_df_std

      Bedroom AbvGr  Gr Liv Area  Bathrooms
0          0.176064     0.309212  -1.176462
1         -1.032058    -1.194223  -1.176462
2          0.176064    -0.337661  -0.398702
3          0.176064     1.207317   1.156819
4          0.176064     0.255801   1.156819
...             ...          ...        ...
2925       0.176064    -0.982555  -1.176462
2926      -1.032058    -1.182354  -1.176462
2927       0.176064    -1.047836  -1.176462
2928      -1.032058    -0.218968  -1.176462
2929       0.176064     0.989715   1.156819

[2930 rows x 3 columns]

Notice that the resulting `DataFrame` contains negative values. This makes sense because standardizing makes the mean of every variable equal to 0. If the mean is 0, then some values must be negative.

The above command is deceptively simple. We actually subtracted a `DataFrame` by a `Series`, then divided the resulting `DataFrame` by another `Series`. We relied on `pandas` to broadcast each `Series` over the right dimension of the `DataFrame`. To be more explicit about the broadcasting, we could have also used the `.sub()` and `.divide()` methods (instead of `-` and `/`) and been explicit about the axis:

In [ ]:
housing_df_std = (housing_df_quant.
                  sub(housing_df_quant.mean(), axis=1).
                  divide(housing_df_quant.std(), axis=1))
housing_df_std

      Bedroom AbvGr  Gr Liv Area  Bathrooms
0          0.176064     0.309212  -1.176462
1         -1.032058    -1.194223  -1.176462
2          0.176064    -0.337661  -0.398702
3          0.176064     1.207317   1.156819
4          0.176064     0.255801   1.156819
...             ...          ...        ...
2925       0.176064    -0.982555  -1.176462
2926      -1.032058    -1.182354  -1.176462
2927       0.176064    -1.047836  -1.176462
2928      -1.032058    -0.218968  -1.176462
2929       0.176064     0.989715   1.156819

[2930 rows x 3 columns]

Now let's recalculate the distances using this standardized data and see if our conclusions change.

In [ ]:
# Distance between two points connected by red line
x = housing_df_std.loc[2927]
x1 = housing_df_std.loc[2928]

np.sqrt(((x - x1) ** 2).sum())

1.465121112969562

In [ ]:
# Distance between two points connected by orange line
x = housing_df_std.loc[2498]
x1 = housing_df_std.loc[290]

np.sqrt(((x - x1) ** 2).sum())

3.9440754446059385

So, if we first standardize the data, then the pair of observations connected by the red line are more similar than the pair connected by the orange line, which matches our intuition. It is (almost) always a good idea to scale your variables before calculating distances.

Now that you've seen how to implement one scaling method (standardization), you will implement two more (normalization and min-max scaling) in Exercises 1 and 2 below.

### Exercises Part 1

#### Exercise 1

Instead of standardizing the three variables from the Ames housing data set, normalize them. Then, recompute the distances between the two pairs of points above. Does your conclusion change?

In [ ]:
# YOUR CODE HERE
numerator = housing_df_quant
denominator = np.sqrt(housing_df_quant.pow(2,axis=1).sum(axis=0))

housing_df_norm = numerator / denominator

x, x1 = housing_df_norm.loc[2927], housing_df_norm.loc[2928]
print("Distance 1 is: ")
print(np.sqrt(((x - x1) ** 2).sum()))

print()

y, y1 = housing_df_norm.loc[2498], housing_df_norm.loc[290]
print("Distance 2 is: ")
print(np.sqrt(((y - y1) ** 2).sum()))

# The conclusions do in fact change. After normalizing both sets of coordinates have changed. They were 1.47 and 3.94 respectively after standardizing.
# Now, the distances are 0.0078 and 0.0211.

Distance 1 is:
0.007910021508841998

Distance 2 is:
0.021103948426701397

**Written Answers Here:**
The conclusions do in fact change. After normalizing both sets of coordinates have changed. They were 1.47 and 3.94 respectively after standardizing.
Now, the distances are 0.0078 and 0.0211.

#### Exercise 2

Instead of standardizing the three variables from the Ames housing data set, apply a min-max scaling to them. Then, recompute the distances between the two pairs of points above. Does your conclusion change?

In [ ]:
# YOUR CODE HERE
numerator2 = housing_df_quant - housing_df_quant.min()
denominator2 = housing_df_quant.max() - housing_df_quant.min()

housing_df_mm = numerator2 / denominator2

x, x1 = housing_df_mm.loc[2927], housing_df_mm.loc[2928]
print("Min-maxed distance 1 is: ")
print(np.sqrt(((x - x1) ** 2).sum()))

print()

y, y1 = housing_df_mm.loc[2498], housing_df_mm.loc[290]
print("Min-maxed distance 2 is: ")
print(np.sqrt(((y - y1) ** 2).sum()))

# The conclusions do in fact change. After normalizing both sets of coordinates have changed. They were 1.47 and 3.94 respectively after standardizing.
# Now, the distances are 0.1478 and 0.425.

Min-maxed distance 1 is:
0.14783815972387498

Min-maxed distance 2 is:
0.425000668096024

**Written Answers Here:**
The conclusions do in fact change. After normalizing both sets of coordinates have changed. They were 1.47 and 3.94 respectively after standardizing.
Now, the distances are 0.1478 and 0.425.

The next exercises ask you to work with a data set that describes the chemical composition of 1599 red wines (`../data/reds.csv`). There are 12 variables in this data set, all of which are quantitative (so each observation is a point in 12-dimensional space).

In [ ]:
df_reds = pd.read_csv("../data/reds.csv", sep=';')
df_reds[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

#### Exercise 3


Find which red wine is more similar to wine 0 in the `DataFrame`: wine 6 or wine 36? (Do not scale the variables.) You should do this for both Euclidian Distance and Manhattan Distance.  Does your answer depend on which distance metric you use to measure "similarity"?

In [ ]:
# YOUR CODE HERE
x, x1, x2 = df_reds.loc[0], df_reds.loc[6], df_reds.loc[36]

#Euclidian
de1 = np.sqrt(((x - x1) ** 2).sum())
print("Euclidian distance 1 is: ")
print(de1)
print()

de2 = np.sqrt(((x - x2) ** 2).sum())
print("Euclidian distance 2 is: ")
print(de2)
print()

#Manhattan
dm1 = ((x - x1).abs()).sum()
print("Manhattan distance 1 is: ")
print(dm1)
print()

dm2 = ((x - x2).abs()).sum()
print("Manhattan distance 2 is: ")
print(dm2)

# The answer does depend on which distance metric we use to measure similarity. If we use euclidian distance, we see that wine 36 is the closer observation.
# If we use manhattan distance then wine 6 is closer.

Euclidian distance 1 is:
25.326029119465215

Euclidian distance 2 is:
20.698053050709866

Manhattan distance 1 is:
30.278400000000005

Manhattan distance 2 is:
30.680300000000003

**Written Answers:**

#### Exercise 4

Now suppose we agree to measure similarity using Euclidean distance, and we wish to investigate the effect of scaling the variables. Which red wine is more similar to wine 0: wine 6 or wine 36? Does the answer depend on whether the variables are scaled or not? Does it depend on the choice of scaling?  What happens for each type of scaling?

In [ ]:
# YOUR CODE HERE
#Euclidian
x, x1, x2 = df_reds.loc[0], df_reds.loc[6], df_reds.loc[36]

ed1 = np.sqrt(((x - x1) ** 2).sum())
print("Euclidian distance 1 is: ")
print(ed1)
ed2 = np.sqrt(((x - x2) ** 2).sum())
print("Euclidian distance 2 is: ")
print(ed2)
print()

#Standardized
df_reds_std = (df_reds.
                  sub(df_reds.mean(), axis=1).
                  divide(df_reds.std(), axis=1))

s, s1, s2 = df_reds_std.loc[0], df_reds_std.loc[6], df_reds_std.loc[36]

sd1 = np.sqrt(((s - s1) ** 2).sum())
print("Standardized distance 1 is: ")
print(sd1)
sd2 = np.sqrt(((s - s2) ** 2).sum())
print("Standardized distance 2 is: ")
print(sd2)
print()

#Normalized
numerator3 = df_reds
denominator3 = np.sqrt(df_reds.pow(2,axis=1).sum(axis=0))
df_reds_norm = numerator3 / denominator3

n, n1, n2 = df_reds_norm.loc[0], df_reds_norm.loc[6], df_reds_norm.loc[36]

nd1 = np.sqrt(((n - n1) ** 2).sum())
print("Normalized distance 1 is: ")
print(nd1)
nd2 = np.sqrt(((n - n2) ** 2).sum())
print("Normalized distance 2 is: ")
print(nd2)
print()

#Min-Maxed
numerator4 = df_reds - df_reds.min()
denominator4 = df_reds.max() - df_reds.min()
df_reds_mm = numerator4 / denominator4

m, m1, m2 = df_reds_mm.loc[0], df_reds_mm.loc[6], df_reds_mm.loc[36]

md1 = np.sqrt(((m - m1) ** 2).sum())
print("Min-maxed distance 1 is: ")
print(md1)
md2 = np.sqrt(((m - m2) ** 2).sum())
print("Min-maxed distance 2 is: ")
print(md2)

# If we use purely euclidian distance, wine 36 is closer to wine 0.
# If we standardize the values, wine 6 is closer to wine 0.
# If normalize the values, wine 6 is closer to wine 0.
# If we min-max the values, wine 6 is closer to wine 0.
# Clearly then, however we manipulate the data may result in different results.

Euclidian distance 1 is:
25.326029119465215
Euclidian distance 2 is:
20.698053050709866

Standardized distance 1 is:
2.007218666281705
Standardized distance 2 is:
2.377107577542025

Normalized distance 1 is:
0.014719128867707194
Normalized distance 2 is:
0.01923525134131827

Min-maxed distance 1 is:
0.25155365026393767
Min-maxed distance 2 is:
0.36968996280817307

**Written Answers Here:**

## Part 2: Distances Between Categorical Variables

The distance metrics that we studied in the previous section were designed for quantitative variables. But most data sets contain a mix of categorical and quantitative variables. For example, the Titanic data set contains both quantitative variables, like `age`, and categorical variables, like `sex` and `embarked`. How do we measure the similarity between observations for a data set like this one? The most straightforward solution is to convert the categorical variables into quantitative ones.

In [ ]:
titanic = pd.read_csv("../data/titanic.csv")
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

### Converting Categorical Variables to Quantitative Variables

Binary categorical variables (categorical variables with two categories) can be converted into quantitative variables by coding one category as 1 and the other category as 0. (In fact, the `survived` column in the Titanic data set is an example of a variable where this has been done.) But what do we do about a categorical variable with more than 2 categories, like `embarked`, which has 3 categories?

We can convert a categorical variable with $K$ categories into $K$ separate 0/1 variables, or **dummy variables**. Each of the $K$ variables is an indicator for one of the $K$ categories. That is, each dummy variable is 1 if the observation fell into that category and 0 otherwise.

Although it is not difficult to create dummy variables manually, the easiest way to create them is the `get_dummies()` function in `pandas`.

In [ ]:
pd.get_dummies(titanic["embarked"])

      C  Q  S
0     0  0  1
1     0  0  1
2     0  0  1
3     0  0  1
4     0  0  1
...  .. .. ..
1304  1  0  0
1305  1  0  0
1306  1  0  0
1307  1  0  0
1308  0  0  1

[1309 rows x 3 columns]

Since every observation is in exactly one category, each row contains exactly one 1; the rest of the values in each row are 0s.

We can call `get_dummies` on a `DataFrame` to encode multiple categorical variables at once. `pandas` will only dummy-encode the variables it deems categorical, leaving the quantitative variables alone. If there are any categorical variables that are represented in the `DataFrame` using numeric types, they must be cast explicitly to a categorical type, such as `str`.  `pandas` will also automatically prepend the variable name to all dummy variables, to prevent collisions between column names in the final `DataFrame`.

In [ ]:
# Convert pclass to a categorical type
titanic["pclass"] = titanic["pclass"].astype(str)

# Pass all variables to get_dummies, except ones that are "other" types
titanic_num = pd.get_dummies(
    titanic.drop(["name", "ticket", "cabin", "boat", "body"], axis=1)
)
titanic_num

,survived,age,sibsp,parch,fare,pclass_1,pclass_2,pclass_3,sex_female,sex_male,...,"home.dest_Wimbledon Park, London / Hayling Island, Hants","home.dest_Windsor, England New York, NY","home.dest_Winnipeg, MB","home.dest_Winnipeg, MN","home.dest_Woodford County, KY","home.dest_Worcester, England","home.dest_Worcester, MA","home.dest_Yoevil, England / Cottage Grove, OR","home.dest_Youngstown, OH","home.dest_Zurich, Switzerland"
0,1,29.0000,0,0,211.3375,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0.9167,1,2,151.5500,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,2.0000,1,2,151.5500,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,30.0000,1,2,151.5500,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,25.0000,1,2,151.5500,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,0,14.5000,1,0,14.4542,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1305,0,NaN,1,0,14.4542,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1306,0,26.5000,0,0,7.2250,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1307,0,27.0000,0,0,7.2250,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1308,0,29.0000,0,0,7.8750,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

Notice that categorical variables, like `pclass`, were converted to dummy variables with names like `pclass_1`, `pclass_2` and `pclass_3`, while quantitative variables, like `age`, were left alone.

Now that we have converted every variable in our data set into a quantitative variable, we can apply the techniques from the previous section to calculate distances between observations. For example, to find the passenger who is most similar to the first passenger, Elisabeth Watson, we can find the row with the smallest Euclidean distance to that row in the above `DataFrame`.

In [ ]:
titanic_std = (titanic_num - titanic_num.mean()) / titanic_num.std()
np.sqrt(
    ((titanic_std - titanic_std.loc[0]) ** 2).sum(axis=1)
).sort_values()

0       0.000000
238     1.509375
193     1.509375
261     4.655385
24     18.111957
         ...
694    41.133172
797    41.133207
49     41.133360
472    41.186785
511    41.209435
Length: 1309, dtype: float64

The passenger who was most similar to Elisabeth Allen, other than herself, is passenger 238. Let's extract these passengers from the original `DataFrame` to see how similar they really are.

In [ ]:
titanic.loc[[0, 238]]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
238,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S,2,NaN,"St Louis, MO"

The two passengers are indeed very similar, only differing in age and the number of parents/children accompanying her. They even happen to share the same first two names ("Elizabeth Walton").

### Exercises Part 2

The next exercises again use the Ames housing data set (`../data/ames.tsv`).

In [ ]:
df_ames = pd.read_csv("../data/ames.tsv", sep="\t")
df_ames[:5]
df_ames["Neighborhood"].value_counts()

NAmes      443
CollgCr    267
OldTown    239
Edwards    194
Somerst    182
NridgHt    166
Gilbert    165
Sawyer     151
NWAmes     131
SawyerW    125
Mitchel    114
BrkSide    108
Crawfor    103
IDOTRR      93
Timber      72
NoRidge     71
StoneBr     51
SWISU       48
ClearCr     44
MeadowV     37
BrDale      30
Blmngtn     28
Veenker     24
NPkVill     23
Blueste     10
Greens       8
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64

#### Exercise 5

The neighborhood variable (`Neighborhood`) in this data set is categorical. Convert it to $K$ quantitative variables. What is $K$ in this case?

In [ ]:
# ENTER YOUR CODE HERE
df_ames["Neighborhood"] = df_ames["Neighborhood"].astype(str)
ames_dummies = pd.get_dummies(df_ames["Neighborhood"])
ames_dummies.columns
ames_dummies

# There are 28 quantitative variables after converting K to quantitative variables.

,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,Greens,...,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2926,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2927,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2928,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2929,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Written Answers**:

#### Exercise 6

Based on these $K$ variables only, calculate the Euclidean distance between house 0 and each of the other houses in the data set. What are the possible values of the Euclidean distance? Can you explain what a distance of $0$ means, in the context of this variable? What about a distance of $1$?

In [ ]:
# ENTER YOUR CODE HERE
x = ames_dummies.loc[0]
np.sqrt(
    ((ames_dummies - x) ** 2).sum(axis=1)
).value_counts()

# The possible values are 1.41 and 0. I believe that a distance of 0 implies that the neighborhood value between the two observations is equal.
# If it is 1, or 1.4 then the values are distinct.

1.414214    2487
0.000000     443
dtype: int64

**Written Answers**:

## Part 3: The Distance Matrix

In many applications, we need the distance between every pair of observations ${\bf x}_i$ and ${\bf x}_j$ in a data set. How do we represent this information? The most common way is to use an $n \times n$ matrix, where the $(i, j)$th entry is the distance between ${\bf x}_i$ and ${\bf x}_j$. That is,

$$ D = \begin{pmatrix}
d({\bf x}_1, {\bf x}_1) & d({\bf x}_1, {\bf x}_2) & \cdots & d({\bf x}_1, {\bf x}_n) \\
d({\bf x}_2, {\bf x}_1) & d({\bf x}_2, {\bf x}_2) & \cdots & d({\bf x}_2, {\bf x}_n) \\
\vdots & \vdots & \ddots & \vdots \\
d({\bf x}_n, {\bf x}_1) & d({\bf x}_n, {\bf x}_2) & \cdots & d({\bf x}_n, {\bf x}_n)
\end{pmatrix}. $$

There are a few things we can say about the $n\times n$ distance matrix $D$.

1. All of the entries of $D$ are non-negative.
2. Because the distance between any observation and itself, $d({\bf x}_i, {\bf x}_i)$, is always zero, the _diagonal_ elements of this matrix, $D_{ii}$ are all equal to 0.
3. For many distance metrics, including Euclidean and Manhattan distance, $d$ is symmetric, meaning that $d({\bf x}_i, {\bf x}_j) = d({\bf x}_i, {\bf x}_j)$. Therefore, the matrix $D$ will also be symmetric; that is, the values in the upper triangle will match their reflection in the lower triangle.

How do we calculate the distance matrix for a `DataFrame` consisting of all quantitative variables? For example, suppose we want to calculate the matrix of distances between each of the houses in the Ames housing data set, based on the number of bedrooms, number of bathrooms, and the living area (in square feet).

In [ ]:
housing_df = pd.read_csv("../data/ames.tsv",sep="\t")

# extract 3 quantitative variables
housing_df_quant = housing_df[["Bedroom AbvGr", "Gr Liv Area"]].copy()
housing_df_quant["Bathrooms"] = (
    housing_df["Full Bath"] +
    0.5 * housing_df["Half Bath"]
)
housing_df_quant

      Bedroom AbvGr  Gr Liv Area  Bathrooms
0                 3         1656        1.0
1                 2          896        1.0
2                 3         1329        1.5
3                 3         2110        2.5
4                 3         1629        2.5
...             ...          ...        ...
2925              3         1003        1.0
2926              2          902        1.0
2927              3          970        1.0
2928              2         1389        1.0
2929              3         2000        2.5

[2930 rows x 3 columns]

### The Long Way

It is possible to create the distance matrix entirely in `pandas`. The idea is to first define a function that calculates the distances between a given observation and all of the other observations:

In [ ]:
def get_euclidean_dists_from_obs(obs):
    return np.sqrt(
        ((housing_df_quant - obs) ** 2).sum(axis=1)
    )

get_euclidean_dists_from_obs(housing_df_quant.loc[0])

0         0.000000
1       760.000658
2       327.000382
3       454.002478
4        27.041635
           ...
2925    653.000000
2926    754.000663
2927    686.000000
2928    267.001873
2929    344.003270
Length: 2930, dtype: float64

The code for this function is very similar to the code that we wrote in the exercises for Part 1.

Now, to get a matrix of distances $D$, we simply need to apply this function to every row of the `DataFrame`. To achieve this, we use the `.apply()` method with `axis=1`:

In [ ]:
D = housing_df_quant.apply(
    get_euclidean_dists_from_obs,
    axis=1
)
D

,0,1,2,3,4,5,6,7,8,9,...,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929
0,0.000000,760.000658,327.000382,454.002478,27.041635,52.021630,318.003145,376.002660,40.024992,148.007601,...,564.000222,72.013888,72.013888,530.000943,432.001157,653.000000,754.000663,686.000000,267.001873,344.003270
1,760.000658,0.000000,433.001443,1214.001339,733.002217,708.002295,442.001131,384.001302,720.000694,908.001790,...,196.003189,832.003005,832.003005,230.004348,328.006098,107.004673,6.000000,74.006756,493.000000,1104.001472
2,327.000382,433.001443,0.000000,781.000640,300.001667,275.001818,9.069179,49.012753,287.002178,475.001053,...,237.000000,399.001566,399.001566,203.000616,105.005952,326.000383,427.001464,359.000348,60.010416,671.000745
3,454.002478,1214.001339,781.000640,0.000000,481.000000,506.000000,772.000810,830.000753,494.001265,306.000000,...,1018.000491,382.001636,382.001636,984.000127,886.001834,1107.001016,1208.001345,1140.000987,721.002254,110.000000
4,27.041635,733.002217,300.001667,481.000000,0.000000,25.000000,291.002148,349.001791,13.047988,175.000000,...,537.000931,99.006313,99.006313,503.000249,405.004012,626.001797,727.002235,659.001707,240.006771,371.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,653.000000,107.004673,326.000383,1107.001016,626.001797,601.001872,335.002985,277.003610,613.001631,801.001404,...,89.001404,725.001379,725.001379,123.004065,221.002262,0.000000,101.004950,33.000000,386.001295,997.001128
2926,754.000663,6.000000,427.001464,1208.001345,727.002235,702.002315,436.001147,378.001323,714.000700,902.001802,...,190.003289,826.003027,826.003027,224.004464,322.006211,101.004950,0.000000,68.007353,487.000000,1098.001480
2927,686.000000,74.006756,359.000348,1140.000987,659.001707,634.001774,368.002717,310.003226,646.001548,834.001349,...,122.001025,758.001319,758.001319,156.003205,254.001968,33.000000,68.007353,0.000000,419.001193,1030.001092
2928,267.001873,493.000000,60.010416,721.002254,240.006771,215.007558,51.009803,109.004587,227.002203,415.003916,...,297.002104,339.007375,339.007375,263.003802,165.012121,386.001295,487.000000,419.001193,0.000000,611.002660
2929,344.003270,1104.001472,671.000745,110.000000,371.000000,396.000000,662.000944,720.000868,384.001628,196.000000,...,908.000551,272.002298,272.002298,874.000143,776.002094,997.001128,1098.001480,1030.001092,611.002660,0.000000

Notice that this is a $2930 \times 2930$ symmetric matrix of non-negative numbers, with zeroes along the diagonal, just as we predicted.

### Better, the short way...

_The Short Way_: There are many packages in Python that calculate distance matrices. One such package is scikit-learn, a machine learning package in Python. Machine learning will be discussed in depth in the coming Labs, and we will explore the features of scikit-learn extensively in those chapters. Because distance matrices are important in machine learning, scikit-learn provides functions for calculating distance matrices.

For example, the following code calculates the (Euclidean) distance matrix between all of the houses in the Ames housing data set:

In [ ]:
from sklearn.metrics import pairwise_distances

D_ = pairwise_distances(housing_df_quant, metric="euclidean")
D_

array([[   0.        ,  760.00065789,  327.00038226, ...,  686.        ,
         267.00187265,  344.00327033],
       [ 760.00065789,    0.        ,  433.00144342, ...,   74.00675645,
         493.        , 1104.00147192],
       [ 327.00038226,  433.00144342,    0.        , ...,  359.00034819,
          60.01041576,  671.00074516],
       ...,
       [ 686.        ,   74.00675645,  359.00034819, ...,    0.        ,
         419.00119332, 1030.00109223],
       [ 267.00187265,  493.        ,   60.01041576, ...,  419.00119332,
           0.        ,  611.00265957],
       [ 344.00327033, 1104.00147192,  671.00074516, ..., 1030.00109223,
         611.00265957,    0.        ]])

Notice that the return type is a `numpy` array, instead of a `pandas` `DataFrame`. That is because scikit-learn was designed to work with `numpy` arrays. Although it will accept `pandas` `DataFrame`s as arguments, scikit-learn will convert them `numpy` arrays underneath the hood and return `numpy` arrays.

Fortunately, many of the usual `pandas` operations work on `numpy` arrays as well. For example, to get the maximum value in each row, we can use the `.max()` method with `axis=1`.

In [ ]:
D_.max(axis=1)

array([3986.00028224, 4746.00034239, 4313.00011593, ..., 4672.0002408 ,
       4253.00038208, 3642.        ])

### Exercises Part 3

The following exercises again use the  red wine data (`../data/reds.csv`). All 12 variables in this data set are quantitative.

In [ ]:
df_reds = pd.read_csv("../data/reds.csv", sep=";")
df_reds[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

#### Exercise 7

Using sklearn, calculate the distance between every pair of wines in this data set.

In [ ]:
# YOUR CODE HERE
df_reds_distance = pairwise_distances(df_reds, metric="euclidean")
df_reds_distance

array([[6.74349576e-07, 3.58601922e+01, 2.04097050e+01, ...,
        1.91056851e+01, 2.33225970e+01, 1.10366429e+01],
       [3.58601922e+01, 0.00000000e+00, 1.64045889e+01, ...,
        2.73859012e+01, 2.41316795e+01, 2.61010203e+01],
       [2.04097050e+01, 1.64045889e+01, 0.00000000e+00, ...,
        1.99197504e+01, 1.98237135e+01, 1.26797093e+01],
       ...,
       [1.91056851e+01, 2.73859012e+01, 1.99197504e+01, ...,
        0.00000000e+00, 5.18964605e+00, 1.12669730e+01],
       [2.33225970e+01, 2.41316795e+01, 1.98237135e+01, ...,
        5.18964605e+00, 0.00000000e+00, 1.42996395e+01],
       [1.10366429e+01, 2.61010203e+01, 1.26797093e+01, ...,
        1.12669730e+01, 1.42996395e+01, 0.00000000e+00]])

#### Exercise 8

Using the distance matrix that you calculated in the previous exercise, calculate the distance of each wine to the most similar other wine.

*Hint:* It might be good to think about what the [values on the diagonal](https://numpy.org/doc/stable/reference/generated/numpy.fill_diagonal.html) of the matrix are... you don't want to select the wine that is itself... you want another wine...

In [ ]:
# YOUR CODE HERE
np.fill_diagonal(df_reds_distance, (100 ** 100))
df_close = df_reds_distance.min(axis=1)
df_close

# This array yields the closest distance to the nearest wine. Each entry corresponds to the x value found in the rows of our original matrix.
# For example, df_close[0] tells us that for observation 0 in df_reds_distance, the closest distance is 6.74e-07.

array([6.74349576e-07, 1.54385948e+00, 1.25056949e+00, ...,
       0.00000000e+00, 4.63842996e-01, 1.89385448e+00])

#### Exercise 9

Using the distance matrix that you calculated in Exercise 6, determine the identity of the wine that is most similar to each wine.

In [ ]:
# YOUR CODE HERE
df_close_pos = df_reds_distance.argmin(axis=1)
df_new = df_close_pos
result = []

display(df_close_pos)

for i in df_close_pos:
  count = 0
  new = "For x = " +  str(count) +  ", the corresponding best wine is " + str(i)
  count += 1
  result.append(new)

  print(new)

# Each observation corresponds to the x value that provides the closest distance to x = index.
# For example, since 4 is the value found at index 0, the closest wine to wine 0 is wine 4.
# My printed statements are supposed to go in order with x being from 0 onward. Ex: For x = 0, for x = 1, for x = 2.

For x = 0, the corresponding best wine is 4
For x = 0, the corresponding best wine is 752
For x = 0, the corresponding best wine is 196
For x = 0, the corresponding best wine is 787
For x = 0, the corresponding best wine is 0
For x = 0, the corresponding best wine is 686
For x = 0, the corresponding best wine is 1502
For x = 0, the corresponding best wine is 1143
For x = 0, the corresponding best wine is 69
For x = 0, the corresponding best wine is 11
For x = 0, the corresponding best wine is 107
For x = 0, the corresponding best wine is 9
For x = 0, the corresponding best wine is 1502
For x = 0, the corresponding best wine is 613
For x = 0, the corresponding best wine is 15
For x = 0, the corresponding best wine is 14
For x = 0, the corresponding best wine is 1572
For x = 0, the corresponding best wine is 19
For x = 0, the corresponding best wine is 654
For x = 0, the corresponding best wine is 17
For x = 0, the corresponding best wine is 1251
For x = 0, the corresponding best wine is 1141
For x = 0, the corresponding best wine is 27
For x = 0, the corresponding best wine is 1370
For x = 0, the corresponding best wine is 1447
For x = 0, the corresponding best wine is 1019
For x = 0, the corresponding best wine is 1334
For x = 0, the corresponding best wine is 22
For x = 0, the corresponding best wine is 1535
For x = 0, the corresponding best wine is 1236
For x = 0, the corresponding best wine is 790
For x = 0, the corresponding best wine is 1248
For x = 0, the corresponding best wine is 711
For x = 0, the corresponding best wine is 1474
For x = 0, the corresponding best wine is 717
For x = 0, the corresponding best wine is 541
For x = 0, the corresponding best wine is 809
For x = 0, the corresponding best wine is 134
For x = 0, the corresponding best wine is 129
For x = 0, the corresponding best wine is 40
For x = 0, the corresponding best wine is 39
For x = 0, the corresponding best wine is 260
For x = 0, the corresponding best wine is 1210
For x = 0, the corresponding best wine is 955
For x = 0, the corresponding best wine is 222
For x = 0, the corresponding best wine is 916
For x = 0, the corresponding best wine is 967
For x = 0, the corresponding best wine is 730
For x = 0, the corresponding best wine is 1392
For x = 0, the corresponding best wine is 165
For x = 0, the corresponding best wine is 456
For x = 0, the corresponding best wine is 1210
For x = 0, the corresponding best wine is 1252
For x = 0, the corresponding best wine is 977
For x = 0, the corresponding best wine is 1350
For x = 0, the corresponding best wine is 1226
For x = 0, the corresponding best wine is 1130
For x = 0, the corresponding best wine is 497
For x = 0, the corresponding best wine is 2
For x = 0, the corresponding best wine is 1366
For x = 0, the corresponding best wine is 655
For x = 0, the corresponding best wine is 577
For x = 0, the corresponding best wine is 99
For x = 0, the corresponding best wine is 1361
For x = 0, the corresponding best wine is 65
For x = 0, the corresponding best wine is 64
For x = 0, the corresponding best wine is 847
For x = 0, the corresponding best wine is 1252
For x = 0, the corresponding best wine is 1241
For x = 0, the corresponding best wine is 762
For x = 0, the corresponding best wine is 404
For x = 0, the corresponding best wine is 208
For x = 0, the corresponding best wine is 208
For x = 0, the corresponding best wine is 1365
For x = 0, the corresponding best wine is 226
For x = 0, the corresponding best wine is 76
For x = 0, the corresponding best wine is 75
For x = 0, the corresponding best wine is 1462
For x = 0, the corresponding best wine is 1275
For x = 0, the corresponding best wine is 207
For x = 0, the corresponding best wine is 810
For x = 0, the corresponding best wine is 431
For x = 0, the corresponding best wine is 590
For x = 0, the corresponding best wine is 246
For x = 0, the corresponding best wine is 1183
For x = 0, the corresponding best wine is 995
For x = 0, the corresponding best wine is 91
For x = 0, the corresponding best wine is 93
For x = 0, the corresponding best wine is 417
For x = 0, the corresponding best wine is 1386
For x = 0, the corresponding best wine is 523
For x = 0, the corresponding best wine is 86
For x = 0, the corresponding best wine is 86
For x = 0, the corresponding best wine is 87
For x = 0, the corresponding best wine is 1456
For x = 0, the corresponding best wine is 230
For x = 0, the corresponding best wine is 1486
For x = 0, the corresponding best wine is 143
For x = 0, the corresponding best wine is 222
For x = 0, the corresponding best wine is 102
For x = 0, the corresponding best wine is 231
For x = 0, the corresponding best wine is 1282
For x = 0, the corresponding best wine is 99
For x = 0, the corresponding best wine is 105
For x = 0, the corresponding best wine is 174
For x = 0, the corresponding best wine is 103
For x = 0, the corresponding best wine is 1283
For x = 0, the corresponding best wine is 10
For x = 0, the corresponding best wine is 790
For x = 0, the corresponding best wine is 684
For x = 0, the corresponding best wine is 114
For x = 0, the corresponding best wine is 1367
For x = 0, the corresponding best wine is 32
For x = 0, the corresponding best wine is 540
For x = 0, the corresponding best wine is 110
For x = 0, the corresponding best wine is 604
For x = 0, the corresponding best wine is 214
For x = 0, the corresponding best wine is 193
For x = 0, the corresponding best wine is 121
For x = 0, the corresponding best wine is 1305
For x = 0, the corresponding best wine is 147
For x = 0, the corresponding best wine is 118
For x = 0, the corresponding best wine is 1108
For x = 0, the corresponding best wine is 0
For x = 0, the corresponding best wine is 587
For x = 0, the corresponding best wine is 1436
For x = 0, the corresponding best wine is 127
For x = 0, the corresponding best wine is 126
For x = 0, the corresponding best wine is 36
For x = 0, the corresponding best wine is 38
For x = 0, the corresponding best wine is 313
For x = 0, the corresponding best wine is 132
For x = 0, the corresponding best wine is 131
For x = 0, the corresponding best wine is 1546
For x = 0, the corresponding best wine is 37
For x = 0, the corresponding best wine is 140
For x = 0, the corresponding best wine is 141
For x = 0, the corresponding best wine is 780
For x = 0, the corresponding best wine is 311
For x = 0, the corresponding best wine is 578
For x = 0, the corresponding best wine is 135
For x = 0, the corresponding best wine is 136
For x = 0, the corresponding best wine is 144
For x = 0, the corresponding best wine is 1418
For x = 0, the corresponding best wine is 142
For x = 0, the corresponding best wine is 1400
For x = 0, the corresponding best wine is 779
For x = 0, the corresponding best wine is 120
For x = 0, the corresponding best wine is 748
For x = 0, the corresponding best wine is 764
For x = 0, the corresponding best wine is 1504
For x = 0, the corresponding best wine is 284
For x = 0, the corresponding best wine is 153
For x = 0, the corresponding best wine is 152
For x = 0, the corresponding best wine is 156
For x = 0, the corresponding best wine is 157
For x = 0, the corresponding best wine is 154
For x = 0, the corresponding best wine is 155
For x = 0, the corresponding best wine is 735
For x = 0, the corresponding best wine is 792
For x = 0, the corresponding best wine is 178
For x = 0, the corresponding best wine is 732
For x = 0, the corresponding best wine is 1342
For x = 0, the corresponding best wine is 164
For x = 0, the corresponding best wine is 163
For x = 0, the corresponding best wine is 393
For x = 0, the corresponding best wine is 587
For x = 0, the corresponding best wine is 182
For x = 0, the corresponding best wine is 218
For x = 0, the corresponding best wine is 135
For x = 0, the corresponding best wine is 688
For x = 0, the corresponding best wine is 172
For x = 0, the corresponding best wine is 171
For x = 0, the corresponding best wine is 1565
For x = 0, the corresponding best wine is 176
For x = 0, the corresponding best wine is 191
For x = 0, the corresponding best wine is 174
For x = 0, the corresponding best wine is 585
For x = 0, the corresponding best wine is 160
For x = 0, the corresponding best wine is 180
For x = 0, the corresponding best wine is 179
For x = 0, the corresponding best wine is 967
For x = 0, the corresponding best wine is 521
For x = 0, the corresponding best wine is 103
For x = 0, the corresponding best wine is 211
For x = 0, the corresponding best wine is 410
For x = 0, the corresponding best wine is 10
For x = 0, the corresponding best wine is 1485
For x = 0, the corresponding best wine is 189
For x = 0, the corresponding best wine is 188
For x = 0, the corresponding best wine is 694
For x = 0, the corresponding best wine is 1268
For x = 0, the corresponding best wine is 190
For x = 0, the corresponding best wine is 194
For x = 0, the corresponding best wine is 193
For x = 0, the corresponding best wine is 207
For x = 0, the corresponding best wine is 2
For x = 0, the corresponding best wine is 617
For x = 0, the corresponding best wine is 1475
For x = 0, the corresponding best wine is 849
For x = 0, the corresponding best wine is 1107
For x = 0, the corresponding best wine is 523
For x = 0, the corresponding best wine is 1246
For x = 0, the corresponding best wine is 237
For x = 0, the corresponding best wine is 235
For x = 0, the corresponding best wine is 206
For x = 0, the corresponding best wine is 205
For x = 0, the corresponding best wine is 561
For x = 0, the corresponding best wine is 72
For x = 0, the corresponding best wine is 945
For x = 0, the corresponding best wine is 416
For x = 0, the corresponding best wine is 1363
For x = 0, the corresponding best wine is 464
For x = 0, the corresponding best wine is 457
For x = 0, the corresponding best wine is 1365
For x = 0, the corresponding best wine is 852
For x = 0, the corresponding best wine is 717
For x = 0, the corresponding best wine is 1365
For x = 0, the corresponding best wine is 1366
For x = 0, the corresponding best wine is 772
For x = 0, the corresponding best wine is 1421
For x = 0, the corresponding best wine is 733
For x = 0, the corresponding best wine is 44
For x = 0, the corresponding best wine is 886
For x = 0, the corresponding best wine is 196
For x = 0, the corresponding best wine is 228
For x = 0, the corresponding best wine is 74
For x = 0, the corresponding best wine is 43
For x = 0, the corresponding best wine is 225
For x = 0, the corresponding best wine is 233
For x = 0, the corresponding best wine is 95
For x = 0, the corresponding best wine is 717
For x = 0, the corresponding best wine is 737
For x = 0, the corresponding best wine is 229
For x = 0, the corresponding best wine is 239
For x = 0, the corresponding best wine is 236
For x = 0, the corresponding best wine is 235
For x = 0, the corresponding best wine is 235
For x = 0, the corresponding best wine is 235
For x = 0, the corresponding best wine is 234
For x = 0, the corresponding best wine is 1166
For x = 0, the corresponding best wine is 1454
For x = 0, the corresponding best wine is 800
For x = 0, the corresponding best wine is 244
For x = 0, the corresponding best wine is 243
For x = 0, the corresponding best wine is 249
For x = 0, the corresponding best wine is 83
For x = 0, the corresponding best wine is 373
For x = 0, the corresponding best wine is 734
For x = 0, the corresponding best wine is 245
For x = 0, the corresponding best wine is 1153
For x = 0, the corresponding best wine is 254
For x = 0, the corresponding best wine is 547
For x = 0, the corresponding best wine is 1243
For x = 0, the corresponding best wine is 251
For x = 0, the corresponding best wine is 789
For x = 0, the corresponding best wine is 671
For x = 0, the corresponding best wine is 746
For x = 0, the corresponding best wine is 59
For x = 0, the corresponding best wine is 520
For x = 0, the corresponding best wine is 41
For x = 0, the corresponding best wine is 186
For x = 0, the corresponding best wine is 0
For x = 0, the corresponding best wine is 386
For x = 0, the corresponding best wine is 937
For x = 0, the corresponding best wine is 970
For x = 0, the corresponding best wine is 1251
For x = 0, the corresponding best wine is 334
For x = 0, the corresponding best wine is 276
For x = 0, the corresponding best wine is 271
For x = 0, the corresponding best wine is 275
For x = 0, the corresponding best wine is 269
For x = 0, the corresponding best wine is 402
For x = 0, the corresponding best wine is 1152
For x = 0, the corresponding best wine is 1071
For x = 0, the corresponding best wine is 270
For x = 0, the corresponding best wine is 268
For x = 0, the corresponding best wine is 269
For x = 0, the corresponding best wine is 1147
For x = 0, the corresponding best wine is 283
For x = 0, the corresponding best wine is 631
For x = 0, the corresponding best wine is 150
For x = 0, the corresponding best wine is 1361
For x = 0, the corresponding best wine is 279
For x = 0, the corresponding best wine is 285
For x = 0, the corresponding best wine is 284
For x = 0, the corresponding best wine is 665
For x = 0, the corresponding best wine is 1280
For x = 0, the corresponding best wine is 290
For x = 0, the corresponding best wine is 1583
For x = 0, the corresponding best wine is 288
For x = 0, the corresponding best wine is 482
For x = 0, the corresponding best wine is 376
For x = 0, the corresponding best wine is 824
For x = 0, the corresponding best wine is 543
For x = 0, the corresponding best wine is 475
For x = 0, the corresponding best wine is 1129
For x = 0, the corresponding best wine is 1354
For x = 0, the corresponding best wine is 1355
For x = 0, the corresponding best wine is 769
For x = 0, the corresponding best wine is 632
For x = 0, the corresponding best wine is 329
For x = 0, the corresponding best wine is 745
For x = 0, the corresponding best wine is 658
For x = 0, the corresponding best wine is 1413
For x = 0, the corresponding best wine is 310
For x = 0, the corresponding best wine is 136
For x = 0, the corresponding best wine is 342
For x = 0, the corresponding best wine is 663
For x = 0, the corresponding best wine is 87
For x = 0, the corresponding best wine is 305
For x = 0, the corresponding best wine is 138
For x = 0, the corresponding best wine is 1441
For x = 0, the corresponding best wine is 130
For x = 0, the corresponding best wine is 1141
For x = 0, the corresponding best wine is 1158
For x = 0, the corresponding best wine is 1373
For x = 0, the corresponding best wine is 319
For x = 0, the corresponding best wine is 320
For x = 0, the corresponding best wine is 317
For x = 0, the corresponding best wine is 318
For x = 0, the corresponding best wine is 410
For x = 0, the corresponding best wine is 171
For x = 0, the corresponding best wine is 54
For x = 0, the corresponding best wine is 325
For x = 0, the corresponding best wine is 324
For x = 0, the corresponding best wine is 375
For x = 0, the corresponding best wine is 798
For x = 0, the corresponding best wine is 468
For x = 0, the corresponding best wine is 301
For x = 0, the corresponding best wine is 331
For x = 0, the corresponding best wine is 330
For x = 0, the corresponding best wine is 46
For x = 0, the corresponding best wine is 1025
For x = 0, the corresponding best wine is 960
For x = 0, the corresponding best wine is 437
For x = 0, the corresponding best wine is 1172
For x = 0, the corresponding best wine is 20
For x = 0, the corresponding best wine is 743
For x = 0, the corresponding best wine is 407
For x = 0, the corresponding best wine is 583
For x = 0, the corresponding best wine is 1063
For x = 0, the corresponding best wine is 343
For x = 0, the corresponding best wine is 342
For x = 0, the corresponding best wine is 427
For x = 0, the corresponding best wine is 1085
For x = 0, the corresponding best wine is 1405
For x = 0, the corresponding best wine is 516
For x = 0, the corresponding best wine is 551
For x = 0, the corresponding best wine is 380
For x = 0, the corresponding best wine is 449
For x = 0, the corresponding best wine is 489
For x = 0, the corresponding best wine is 160
For x = 0, the corresponding best wine is 574
For x = 0, the corresponding best wine is 651
For x = 0, the corresponding best wine is 1286
For x = 0, the corresponding best wine is 525
For x = 0, the corresponding best wine is 407
For x = 0, the corresponding best wine is 599
For x = 0, the corresponding best wine is 403
For x = 0, the corresponding best wine is 1275
For x = 0, the corresponding best wine is 288
For x = 0, the corresponding best wine is 761
For x = 0, the corresponding best wine is 580
For x = 0, the corresponding best wine is 366
For x = 0, the corresponding best wine is 547
For x = 0, the corresponding best wine is 364
For x = 0, the corresponding best wine is 474
For x = 0, the corresponding best wine is 1368
For x = 0, the corresponding best wine is 377
For x = 0, the corresponding best wine is 1460
For x = 0, the corresponding best wine is 405
For x = 0, the corresponding best wine is 1004
For x = 0, the corresponding best wine is 247
For x = 0, the corresponding best wine is 559
For x = 0, the corresponding best wine is 326
For x = 0, the corresponding best wine is 1285
For x = 0, the corresponding best wine is 369
For x = 0, the corresponding best wine is 484
For x = 0, the corresponding best wine is 1291
For x = 0, the corresponding best wine is 382
For x = 0, the corresponding best wine is 391
For x = 0, the corresponding best wine is 380
For x = 0, the corresponding best wine is 380
For x = 0, the corresponding best wine is 388
For x = 0, the corresponding best wine is 22
For x = 0, the corresponding best wine is 263
For x = 0, the corresponding best wine is 1025
For x = 0, the corresponding best wine is 384
For x = 0, the corresponding best wine is 512
For x = 0, the corresponding best wine is 802
For x = 0, the corresponding best wine is 381
For x = 0, the corresponding best wine is 549
For x = 0, the corresponding best wine is 165
For x = 0, the corresponding best wine is 596
For x = 0, the corresponding best wine is 570
For x = 0, the corresponding best wine is 400
For x = 0, the corresponding best wine is 398
For x = 0, the corresponding best wine is 397
For x = 0, the corresponding best wine is 179
For x = 0, the corresponding best wine is 396
For x = 0, the corresponding best wine is 594
For x = 0, the corresponding best wine is 272
For x = 0, the corresponding best wine is 359
For x = 0, the corresponding best wine is 70
For x = 0, the corresponding best wine is 371
For x = 0, the corresponding best wine is 886
For x = 0, the corresponding best wine is 339
For x = 0, the corresponding best wine is 1063
For x = 0, the corresponding best wine is 286
For x = 0, the corresponding best wine is 185
For x = 0, the corresponding best wine is 714
For x = 0, the corresponding best wine is 1178
For x = 0, the corresponding best wine is 541
For x = 0, the corresponding best wine is 852
For x = 0, the corresponding best wine is 313
For x = 0, the corresponding best wine is 477
For x = 0, the corresponding best wine is 88
For x = 0, the corresponding best wine is 1224
For x = 0, the corresponding best wine is 1464
For x = 0, the corresponding best wine is 842
For x = 0, the corresponding best wine is 425
For x = 0, the corresponding best wine is 424
For x = 0, the corresponding best wine is 430
For x = 0, the corresponding best wine is 422
For x = 0, the corresponding best wine is 421
For x = 0, the corresponding best wine is 1541
For x = 0, the corresponding best wine is 445
For x = 0, the corresponding best wine is 885
For x = 0, the corresponding best wine is 601
For x = 0, the corresponding best wine is 423
For x = 0, the corresponding best wine is 81
For x = 0, the corresponding best wine is 462
For x = 0, the corresponding best wine is 435


#### Bonus Exercise (2 Points)

Suppose that you really like wine 0 in the data set, but you find that the **chlorides** value is too high. Find wines that have lower chlorides than wine 0 but are similar to it. Be sure to actually look at the profiles of the wines that your algorithm picked out as most similar. Do they make sense?

Try different distance metrics and different standardization methods. How sensitive are your results to these choices? To answer this question, you should create a table of each configuration you tried and what the closest wine with lower chlorides than wine 0 is.

|metric|standardization|index of closest wine with lower chlorides|
|---|---|---|
|   |   |   |


_Think:_ If the goal is to find wines with lower chlorides, should chlorides be included as a variable in the distance metric?

In [ ]:
## YOUR CODE HERE

**Written answers here**

**When you have filled out all the questions, submit via [Tulane Canvas](https://tulane.instructure.com/)**